.header {
  background: #1c1c21;
  box-shadow:
    0px 24px 32px rgba(0, 0, 0, 0.04),
    0px 16px 24px rgba(0, 0, 0, 0.04),
    0px 4px 8px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
}

.nav {
  display: flex;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 16px 20px;
}

.left {
  display: flex;
  gap: 8px;
  margin-right: auto;
}

.center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.right {
  margin-left: auto;
}
